body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bottom-components {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.component {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
	border-radius: 10px;
	padding: 10px;
	width: 500px;
	margin-top: 50px;
}

.list-header {

}

.item-group {
  background-color: rgb(236, 236, 236);
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 4px;
  align-items: center;
}

.item-group.focused {
  background-color: rgb(224, 224, 224);
}

.outer-div {
  position: relative;
}

.BagSelector-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 1rem;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.BagSelector-dropdown:hover {
  filter: brightness(0.9);
}

.BagSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 1rem;
  border-radius: 10px;
  width: 110px;
  transition: filter 0.3s ease;
}

.BagSelector:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

._bagTitle {
  font-size: 0.7rem;
  margin: 0 0;
  /* color: white; */
}

.BagSelector .ArrowDown {
  margin-left: auto;
  text-align: right;
}

.ListItem {
  padding: 0 5px;
  font-weight: bold;
  align-content: center;
  margin-left: -20px;
  width: 250px;
}

.ItemTitle {
  font-size: 1rem;
  margin: 0 0;
  border: transparent;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
}

.dropdown-wrapper {
  margin-top: 3px;
  margin-left: -3px;
  gap: 3px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: aliceblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.delete-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  align-items: center;
  margin: 4px;
}

.bag-group {
  background-color: rgb(236, 236, 236);
  padding: 0 4px;
  display: flex;
  flex-direction: row;
}

.color-picker-icon {
  cursor: pointer;
}

.dropdown-bag-wrapper {
  width: 7.5rem;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  background-color: rgb(235, 235, 235);
  padding: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: 6rem;
  margin-left: 6rem;
  cursor: default;
}

.color-option {
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50%;
  margin: 2.5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-option-dropdown {
  height: 15px;
  width: 15px;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50%;
  margin: 2.5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  width: 50%;
  background-color: inherit;
}

.progress-filler {
  height: 100%;
  transition: width 0.4s ease-in-out;
  text-align: right;
  padding-right: 5px;
  border-radius: 30px;
}

.progress-label {
  padding: 5;
  color: white;
  font-weight: 'bold';
}

.new-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0px 9px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	background-color: #76c950;
    color: #000; /* Black text */
  }